body {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}
.honeycolor{
  color: rgb(255, 177, 9);
}
.flexible-container{
  display: flex;
  margin-bottom: 150px;
}
.halfwidth{
  width: 50%;
  padding-left: 5%;
  padding-top: 3%;
}
.halfwidth img{
  width: 70%;
}
.halfwidth2{
  width: 50%;
  padding-right: 5%;
  padding-bottom: 3%;
}
.halfwidth2 img{
  width: 70%;
  padding-left: 20%;
}
.halfwithtext{
  padding-right: 10%;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(lightsalmon,tomato );
border-radius: 5px;
padding: 10px 40px;
color: white;
font-weight: 700;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.big-dream{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: -5%;
}